@model SaleDetailsModel

@{
    ViewData["Title"] = "Sale Details";
}

<h2>@ViewData["Title"]</h2>

<h3>@Model.CustomerName</h3>

<p>
    @Model.Discount.ToString("F2")%
</p>
<p>
    %@Model.DiscountPrice
</p>
<p>
    @Model.Car.Make @Model.Car.Model - @(Model.Car.TravelledDistance / 100)km
</p>

